<a href="https://colab.research.google.com/github/niteen11/lagcc_data_analytics_micro_credential/blob/master/Unit%202%20-%20Python%20Fundamentals/Assignments/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
players = ["Hazard", "LeBron", "Mount", "Havertz", "Pulisic"]

## 2.	Print out those variables by using a for loop

In [ ]:
for x in players:
  print(x)

Hazard
LeBron
Mount
Havertz
Pulisic

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
num = 0
for x in players:
  num += 1
  print("Player number", str(num), ":", x)

Player number 1 : Hazard
Player number 2 : LeBron
Player number 3 : Mount
Player number 4 : Havertz
Player number 5 : Pulisic

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for x in range(1,21):
  if x % 2 == 0:
    print(x)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
alphaorder = sorted(players)
print(alphaorder)

['Havertz', 'Hazard', 'LeBron', 'Mount', 'Pulisic']

## 6.	Print out the first three elements of your list.

In [ ]:
print(players[0:3])

['Hazard', 'LeBron', 'Mount']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
for x in players:
  if x == players[-1] or x == players[-2]:
    print(x)

Havertz
Pulisic